## Debug output
obj/
bin/

## User-specific files
*.user
*.userosscache
*.suo

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

## Visual Studio cache/options directory
.vs/

## Rider
.idea/
*.sln.iml

## Visual Studio Code
.vscode/

## Database
*.db
*.db-shm
*.db-wal

## OS files
.DS_Store
Thumbs.db

## Environment files
.env
.env.local
